@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fe;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #f6f8fe;
}

.navbar:hover{
    color: #E95A08;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: -20px;
}


.nav-links {
  list-style: none;
  display: flex;
   justify-content: right;
   margin-left: 690px;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #777;
  font-weight: 500;
}

.nav-links li a:hover{
    color: #E95A08;
}

.nav-links li a.active {
  color: #000;
  font-weight: 700;
}

.cart {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: #333;
}






.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 40px;
  background-color: #f6f8fe;
}

.banner-content {
  flex: 1;
  max-width: 600px;
}

.banner-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.bold {
  font-weight: 800;
  color: #000;
}

.highlight {
    color: #E95A08;
  font-weight: 700;
}

.banner-content p {
  font-size: 16px;
  color: #504f4f;
  line-height: 1.6;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.banner-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}



.btn:hover {
    background-color: black;
    color: white;
}



















@media (max-width: 768px) {

.nav-links {
    display: none;
  }

  .navbar {
    padding: 10px 20px;
  }

  .brand {
    font-size: 18px;
  }

  .cart span {
    font-size: 14px;
  }

  .banner {
    flex-direction: column;
    text-align: left;
    padding: 30px 20px;
  }

  .banner-content h1 {
    font-size: 36px;
  }

  .banner-content {
    order: 2;
  }

  .banner-image {
    order: 1;
    margin-bottom: 20px;
  }
 .foot{
    text-align: start;
    align-items: flex-start;
 }
 .toot{
    text-align: start;
    align-items: flex-start;
 }

 .toot2{
    text-align: start;
    align-items: flex-start;
    margin-left: -120px;
 }
 
 .toot2 img{
       width: 100px;
       height: 50px;
 }


